<h1>Thoughts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>City</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |micropost| %>
  <!-- need to design this -->
  <tr>
    <td><%= micropost.content %></td>
    <td><%= micropost.city %></td>
    <td><%= micropost.state %></td>
  </tr>
<% end %>
</table>

<br>

<%= render 'form' %>