<h1>Thoughts from friends and family</h1>
<br>

<div class="row" style='text-align:left;'>
	<div class='col-md-12'>
		<%= render 'form' %>
	</div>
</div>

<br>

<div class='row'>

<table>

<% @posts.each do |micropost| %>
  <!-- need to design this -->
  <tr>
	 <div class="row">
	 	<div class='col-md-12' style='color:black'>
	 		<div class="row">
				<div class="col-md-5">
					<span style='font-weight:bold;font-size:20px;color:#333'><%= micropost.name %></span>
				</div>
				<div class='col-md-3 col-md-offset-4'>
					<%= micropost.created_at.strftime("%m/%d/%y") %>
				</div>
			</div>
			<div class="row">
				<div class='col-md-12'>
					<span style='font-size:16px'><%= micropost.content %></span>
				</div>
			</div>
		</div>
	  </div>
	</tr>
	<br style='line-height:23px'>

<% end %>
</table>

</div>
<br>