<div id="footer">
	<nav class="navbar navbar-fixed-bottom">
        <p class="container text-muted credit">Made with love by Will Patrick. Contact the family at <%= link_to "wgpatrick@gmail.com", "mailto:wgpatrick@gmail.com" %> </p>
	</nav>
</div>
