<div id="footer">
	<p class="container text-muted credit">Made with love by Will Patrick and Jasdeep Garcha. Contact Will at <%= link_to "wgpatrick@gmail.com", "mailto:wgpatrick@gmail.com" %> </p>
</div>
