<div id="footer">
	<p class="container text-muted credit">Made with love by <a href="http://www.iamwillpatrick.com">Will Patrick</a> and <a href="http://www.iamjasdeep.com">Jasdeep Garcha</a>. Contact Will at <%= link_to "wgpatrick@gmail.com", "mailto:wgpatrick@gmail.com" %> </p>
</div>
