<div class="header">
	<ul class="nav nav-pills pull-right">
		<li> <%= link_to "Home", root_path %> 
		</li>
		<li><%= link_to "About Meg", family_path %>
		</li>
		<li><%= link_to "Guestbook", guestbook_path %> </p>
		</li>
	</ul>
	<h1>Memories of Meg</h1>
</div>